@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap");
body {
  font-family: "roboto";
  margin: 0;
}

.container {
  place-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu {
  padding: .5em;
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.hero {
  margin-left: -46em !important;
}

.img-div {
  margin-left: 40em;
  margin-top: -30em;
}

.left-col h1 {
  margin-top: 2em;
  font-family: Roboto;
  font-weight: bold;
  font-size: 40px;
  color: #000000;
  color: black;
  padding: .5em;
  text-align: center;
}

.left-col p {
  padding: .5em;
  font-family: Roboto;
  font-size: 18px;
  color: #4D4D4D;
  color: #4d4d4d;
  text-align: center;
}

.left-col .d-section {
  margin-left: -0.8em;
}

.btn-registro {
  background-color: #006bd6;
  text-align: center;
  padding: 1em .5em;
  width: 150px;
  margin: 0em auto 5em auto;
  border-radius: 1em;
  font-size: 21px;
  list-style: none;
}

.btn-registro a {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 1em .5em;
  width: 150px;
  margin: 0em auto 5em auto;
  border-radius: 1em;
  font-family: Roboto;
  font-weight: bold;
  font-size: 21px;
  color: #F2F2F2;
  color: #f2f2f2;
  cursor: pointer;
  list-style: none;
}

.btn-detalles {
  text-decoration: none;
  list-style: none;
  background-color: #125bab;
  text-align: center;
  padding: 1em .5em;
  width: 150px;
  margin: 0em auto 5em auto;
  border-radius: 1em;
  font-family: Roboto;
  font-weight: bold;
  font-size: 21px;
  margin-top: -4em;
  cursor: pointer;
  list-style: none;
}

.btn-detalles a {
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding: 1em .5em;
  width: 150px;
  margin: 0em auto 5em auto;
  border-radius: 1em;
  font-family: Roboto;
  font-weight: bold;
  font-size: 21px;
  color: #F2F2F2;
  color: #f2f2f2;
  margin-top: -4em;
}

.primerul {
  margin-top: 2em;
}

.img-cuerpo {
  margin-top: -5em;
  width: 100%;
  height: 330px;
}

.parrafo-logo {
  display: none;
}

.socialMedia-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: unset;
  height: auto;
  width: 15ch;
  padding: 0;
  margin-top: 1em;
  margin-left: 70%;
  float: left;
  list-style: none;
  cursor: pointer;
}

.inicio {
  color: black;
}

.contact-section {
  margin-top: 13em;
  margin-left: 30em;
}

@media only screen and (max-width: 760px) {
  .hero {
    height: 800px;
  }
  .hero .container {
    margin-left: 39em;
    margin-top: -1em;
  }
  .contact-section {
    margin-left: -37em;
    margin-top: -10em;
  }
  h1 {
    width: 500px;
    margin-left: 1.9em;
  }
  .img-cuerpo {
    display: none;
  }
  .menu {
    margin-left: 50%;
  }
  .exit {
    margin-top: 1em;
    cursor: pointer;
  }
  nav {
    display: none;
    margin-top: -1.7em;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  nav a:hover {
    color: gray;
  }
  nav li {
    margin-right: 2.5em;
    margin-top: 4em;
    list-style: none;
    padding-bottom: 3ex;
  }
  nav.menu-btn {
    display: block;
  }
}

@media only screen and (min-width: 760px) {
  .hero {
    height: 500px;
  }
  .hero .container {
    margin-left: 45em;
  }
  .img-cuerpo {
    display: none;
  }
  .parrafo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 53%;
  }
  .navbar container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .img-cuerpo {
    height: 380px;
  }
  .menu {
    display: none;
  }
  .navbar nav {
    margin-left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-right: 10em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .navbar nav a {
    color: #666666;
    font-size: 1em;
    padding: .1em 1em;
    text-decoration: none;
  }
  .navbar nav a:hover {
    color: black;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1300px) {
  .socialMedia-list {
    margin-top: 5em;
  }
  .hero {
    margin-left: -1em;
  }
  .img-cuerpo {
    display: none;
  }
  .logo {
    margin-left: 7em;
  }
  .parrafo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 55em;
  }
  .left-col {
    margin-left: 15em;
  }
  .left-col h1 {
    margin-top: 6em;
    text-align: left;
    margin-left: 9%;
  }
  .left-col p {
    margin-top: 0.1em;
    text-align: left;
    margin-left: 10%;
  }
  .left-col .btn-registro {
    margin-top: 2em;
    margin-left: 8%;
  }
  .left-col .btn-detalles {
    margin-top: -8.2em;
    margin-left: 23%;
  }
  .img-cuerpo {
    margin-top: -25em;
    width: 600px;
    height: 400px;
    margin-left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .socialMedia-list {
    left: 100px;
    right: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .contact-rigth {
    margin-top: -40px;
    margin-left: -100px;
  }
  .left-col h1 {
    margin-left: 210px;
  }
  .left-col p {
    margin-left: 235px;
  }
  .img-cuerpo {
    margin-top: -25em;
    width: 600px;
    height: 400px;
  }
  .container .socialMedia-list {
    margin-left: 97em;
    margin-top: 15em;
  }
  .socialMedia-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left-col {
    margin-left: 5em;
  }
  .left-col .btn-detalles {
    margin-left: 400px;
    cursor: pointer;
  }
  .left-col .btn-registro {
    margin-left: 190px;
    cursor: pointer;
  }
  .primary-nav a {
    margin-left: 50px;
  }
  .primary-nav li {
    padding-bottom: 1ex;
  }
}

.features-section {
  background-color: #efefef;
  margin-top: 70px;
}

.features-section h2 {
  margin-left: -0.5em;
  padding: 1em 2em;
}

.features-section li {
  list-style: none;
  padding-bottom: 2ex;
}

.features-section a {
  text-decoration: none;
  color: black;
  padding: 0 1em;
}

.features-section .left-car {
  display: none;
}

.features-section .rigth-car {
  display: none;
}

.features-section .btn-compra, .features-section .btn-tasacion {
  background-color: #006bd6;
  border-radius: 1em;
  color: white;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: 3.5em;
  cursor: pointer;
}

.features-section .title1, .features-section .title2 {
  margin-top: 2em;
}

.features-section .features-list {
  margin-top: -.5em;
}

.features-section .features-list-2 {
  margin-top: -.5em;
  height: 25em;
}

.features-section .dashed {
  margin-top: 4em;
}

@media only screen and (min-width: 1600px) {
  .features-section {
    margin-top: 400px;
    background-color: #efefef;
    padding: 2.5em 17em;
    height: 1000px;
  }
  .features-section .features-list-2 .btn-compra, .features-section .btn-tasacion {
    margin-left: 3.7em;
  }
  .features-section h2 {
    font-style: italic;
    font-size: 40px;
  }
  .features-section li {
    list-style: none;
    padding-bottom: 1ex;
  }
  .features-section a {
    text-decoration: none;
    margin-left: -1em;
    color: black;
    font-size: 20px;
  }
  .features-section .left-car {
    margin-top: -300px;
    padding: 0 40em;
    display: block;
    margin-left: 5.4em;
  }
  .features-section .features-list {
    margin-left: 2.4em;
    margin-top: -2em;
  }
  .features-section .features-list-1 {
    margin-left: -5em;
    margin-top: 2em;
  }
  .features-section .title1 {
    margin-top: -1em;
  }
  .features-section .features-list-2 {
    margin-top: 4em;
    margin-left: 45rem;
    white-space: nowrap;
  }
  .features-section .rigth-car {
    margin-top: -25em;
    display: block;
  }
  .features-section .features-container {
    margin-left: 2em;
  }
  .features-section .dashed {
    margin-top: .1em;
    width: 90em;
    margin-left: -3em;
  }
}
/*# sourceMappingURL=main.css.map */