@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap");
* {
  font-family: roboto;
  margin: 0;
}

li {
  margin-left: -5px;
}

.primary-nav {
  margin-top: -1.5em;
  margin-left: 37%;
}

.navbar {
  height: 63px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: .1em;
  background-color: white;
  border: 0px solid #999;
  -webkit-box-shadow: 1px 1px 3px #999;
          box-shadow: 1px 1px 3px #999;
  white-space: nowrap;
}

.navbar .logo {
  margin-left: -2%;
  text-decoration: none;
  font-family: Roboto;
  font-weight: bold;
  font-size: 23px;
  color: #196CDA;
  color: #196cda;
}

.navbar .logo span {
  color: black;
}

.navbar .container {
  place-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .menu {
  padding: .5em;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

@media only screen and (max-width: 760px) {
  .visible {
    visibility: visible;
  }
  .hidden {
    visibility: hidden;
  }
  .menu {
    margin-left: 50%;
  }
  .exit {
    margin-top: 1em;
    cursor: pointer;
  }
  nav {
    display: none;
    margin-top: -1.7em;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #2f3640;
    top: 80px;
    left: 0;
    text-align: center;
  }
  nav a {
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  nav a:hover {
    color: gray;
  }
  nav li {
    margin-right: 2.5em;
    margin-top: 4em;
    list-style: none;
    padding-bottom: 3ex;
  }
  .primary-nav {
    margin-left: -.7em;
  }
  nav.menu-btn {
    display: block;
  }
}

@media only screen and (min-width: 760px) {
  .parrafo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 53%;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .img-cuerpo {
    height: 380px;
  }
  .menu {
    display: none;
  }
  .navbar nav {
    margin-left: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    margin-right: 10em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .navbar nav a {
    color: #666666;
    font-size: 1em;
    padding: .1em 1em;
    text-decoration: none;
  }
  .navbar nav a:hover {
    color: black;
    font-weight: bold;
  }
}

@media only screen and (min-width: 1300px) {
  .logo {
    margin-left: 7em;
  }
  .parrafo-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 55em;
  }
  .left-col h1 {
    margin-top: 6em;
    text-align: left;
    margin-left: 9%;
  }
  .left-col p {
    margin-top: -2em;
    text-align: left;
    margin-left: 10%;
  }
  .left-col .btn-registro {
    margin-top: 2em;
    margin-left: 8%;
  }
  .left-col .btn-detalles {
    margin-top: -8.2em;
    margin-left: 23%;
  }
  .img-cuerpo {
    margin-top: -25em;
    width: 600px;
    height: 400px;
    margin-left: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .socialMedia-list {
    left: 100px;
    right: 0;
  }
}

@media only screen and (min-width: 1600px) {
  .contact-rigth {
    margin-top: -40px;
    margin-left: -100px;
  }
  .left-col h1 {
    margin-left: 210px;
  }
  .left-col p {
    margin-left: 220px;
  }
  .img-cuerpo {
    margin-top: -25em;
    width: 600px;
    height: 400px;
  }
  .container .socialMedia-list {
    margin-left: 97em;
    margin-top: 15em;
  }
  .socialMedia-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .left-col {
    margin-left: 5em;
  }
  .left-col .btn-detalles {
    margin-left: 400px;
    cursor: pointer;
  }
  .left-col .btn-registro {
    margin-left: 190px;
    cursor: pointer;
  }
  .primary-nav a {
    margin-left: 50px;
  }
  .primary-nav li {
    padding-bottom: 1ex;
  }
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20%;
  margin-top: 5em;
}

.options div {
  margin: 10px;
}

.options div input {
  margin-left: 37em;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-container img {
  width: 321px;
  height: 234px;
}

.flex-container .descripcion {
  width: 500px;
  margin-top: 5em;
  margin-left: -14em;
}

.flex-container ul {
  margin-top: 5em;
}

.flex-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  border: 0.5px solid #a7a2a2;
  margin-left: -75em;
}

.flex-container input {
  width: 100px;
  border: none;
  background-color: #196cda;
  color: white;
  border-radius: 1em;
}

.flex-container input:hover {
  background-color: #1a79f5;
}

.flex-container .boton {
  margin-left: -69em;
  margin-top: 13em;
}
/*# sourceMappingURL=catalogo.css.map */